.about{
  background-color: rgb(21, 21, 21);
  position: relative;
  .about-item{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    h3{
      // google-font
      font-family: 'Dancing Script', cursive;
      margin: 10px 0;
      position: absolute;
      top:10%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 5rem;
      background-image: url('https://i.pinimg.com/564x/58/9b/98/589b9830647620d15d33b32ae9c1f286.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-clip: text;
      --webkit-background-clip:text;
      color: transparent;
    }
    .about-middleImg{
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      width: 230px;
      height: 230px;
      z-index: 10;
    }
    p{
      padding: 0 30px;
      line-height: 2.5rem;
      font-weight: bolder;
    }
    .about-img{
      width: 100%;
    }
  }
}

// 平板
@media screen and (max-width: 992px){
  .about{
    .about-item{
      h3{
        position: static;
        transform: translate(0%,0%);
      }
      p{
        padding: 0px;
        margin: 20px 0 ;
      }
      .about-middleImg{
        width: 160px;
        height: 160px;
      }
    }
  }
} 

// 手機
@media screen and (max-width: 768px){
  .about{
    .about-item{
      h3{
        margin-top: 50px;
      }
      .about-middleImg{
        width: 200px;
        height: 200px;
      }
    }
  }
} 