:root{
  --favorites-background-image-1: url('https://png.pngtree.com/thumb_back/fh260/background/20220514/pngtree-heart-made-of-coffee-beans-affection-day-espresso-photo-image_30353048.jpg');
}

.bg-favorites::before {
  background-image:var(--favorites-background-image-1) ;
}

.favorite-product{
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    #product{
      text-align: end;
      .clear{
        background-color: transparent;
        color: white;
        padding:5px 10px;
        transition: .5s;
        &:hover{
          background-color: black;
        }
      }
      .district{
        justify-content:left;
        .card{
          .title{
            font-size: 1em;
          }
          .left{
            text-align: left;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px){
  .favorite-product{
    .row{
      #product{
        .district{
          justify-content: center;
          .frame{
            width: 85%;
          }
        }
      }
    }
  }
}