// *{
//   font-family: 'Great Vibes', cursive;
// }

// 幻燈片
.carousel-item {
  // 圖片大小高低不同，先用vh
  height: 100vh;
  background-size: cover;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.carousel-inner{
  // 讓navbar呈現幻燈片在上層
  margin-top: -76px;
  position: relative;
  .text {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    z-index: 5;
    font-size: 1.5rem;
    .nav-link{
      display: inline-block;
      margin-top: 20px;
      font-size: 1.5rem;
      color: white; 
      text-decoration: none;
      background-color: transparent;
      border-radius: 10px;
      padding: 5px 20px;
      border: 1px solid white;
      transition: .7s;
    }
    .nav-link:hover{
      background-color: rgba(255, 255, 255, .3);
    }
  }
}

// 中間面板
.home-main{
  position: relative;
  background-size: cover;
  background-image: url('https://i.imgur.com/yR8HxLG.jpg');
  color: white;
  // 黑色遮罩  
  .mask{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  //背景模糊
  // &::after {
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background: inherit;
  //   filter: blur(150px);
  // }
  .main-item{    
    width: 100%;
    height:auto;
    position: relative; //用於使用z-index
    z-index: 2;
    .left{
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 55%;
        margin: 10px 0;
        border-radius: 0;
      }
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    .text{
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top:-50px;
      background-color: black;
      line-height: 10px;
      padding: 0 20px;
      text-align:start;
      writing-mode: vertical-lr;
      p{
        font-size: 2rem;
        width: 100%;
      }
      p:nth-of-type(1) {
        margin-top: -100px;
      }
      p:nth-of-type(2) {
        margin-top: 100px;
      }
    }
  }
  // 最新消息
  .news{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    h2{
      font-family: 'Dancing Script', cursive;
      font-size: 4rem;
    }
    p{
      font-family:'Zen Kurenaido', sans-serif;
    }
  }
    
}


// 領取優惠字樣
.banner {
  background-image: url('https://i.imgur.com/a1L0U0U.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 10px 0;
  letter-spacing: .1em;
  strong{
    color: white;
  }
  button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: .7s;
    padding: 5px;
  }
  button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
  }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url('https://i.imgur.com/Q26skQL.jpg');
  //   background-attachment: fixed;
  //   background-size: cover;
  //   opacity: 0.25;
  //   pointer-events: none; // 讓偽元素不會阻擋button
  // }
}


footer{
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

//手機板
@media screen and (max-width: 768px) {
  // 幻燈片
  .carousel-inner{
    .text{
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;
      justify-content: center;
    }
  }
  //中間面板
  .home-main{
    .main-item{
      .text{
        writing-mode: horizontal-tb;
        margin-top:0;
        text-align:center;
        line-height: 40px;
        p:nth-of-type(1) {
          margin-top: 20px;
        }
        p:nth-of-type(2) {
          margin-top:0px;
        }
      }
    }
  }
  .banner{
    font-size: 1.3rem;
  }
}

