// *{
//   font-family: 'Great Vibes', cursive;
// }

// 幻燈片
.carousel-item {
  // 圖片大小高低不同，先用vh
  height: 100vh;
  background-size: cover;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.carousel-inner{
  // 讓navbar呈現幻燈片在上層
  // margin-top: -76px;
  position: relative;
  .text {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    z-index: 5;
    font-size: 1.5rem;
    .nav-link{
      display: inline-block;
      margin-top: 20px;
      font-size: 1.5rem;
      color: white; 
      background-color: transparent;
      border-radius: 10px;
      padding: 5px 20px;
      border: 1px solid white;
      transition: .7s;
    }
    .nav-link:hover{
      background-color: rgba(255, 255, 255, .3);
    }
  }
}

// 消息背景
.home-main{
  position: relative;
  background-size: cover;
  background-image: url('https://i.imgur.com/yR8HxLG.jpg');
  color: white;
  // 黑色遮罩  
  .mask{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  //背脊模糊
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/yR8HxLG.jpg');
    background-size: cover;
    filter: blur(5px); 
  }

  .main-item{    
    width: 100%;
    height: 100%;
    position: relative; //用於使用z-index
    z-index: 2;
    .left{
      height: 100%;
      flex-direction: column;
      display: flex;
      align-items: end;
      justify-content: space-between;
      .item{
        width: 55%;
        flex-direction: column;
        display: flex;
        align-items: end;
        position: relative;
        align-items: center;
        justify-content: center;
        img{
          width: 100%;
          margin: 10px;
          border-radius: 0;
          transition: all .5s;
        }
        .nav-link{
          color:rgb(255, 255, 255); 
          border-radius: 5px;
          padding: 5px 10px;
          position: absolute;
          top:50%;
          left:50%;
          text-align: center;
          transform: translate(-50%,-50%);
          opacity: 0;
          transition: .8s;
          background-color: rgba(99, 99, 99, 0.9);
          &:hover{
            background-color: rgba(0, 0, 0, 0.7);
            color: rgb(255, 255, 255);
          }
        }
        &:hover img{
          transform: scale(1.1);
        }
        &:hover .nav-link{
          opacity: 1;
        }
      }
      &:has(img:hover) img:not(:hover){
        scale: .8;
        opacity: .7;
      }
      &:has(.nav-link:hover) img:not(:hover){
        scale: .8;
        opacity: .7;
      }
    }
  }
  // 最新消息文字
  .news{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    h2{
      font-family: 'Dancing Script', cursive;
      font-size: 4rem;
    }
    .txt{
      font-family:'Zen Kurenaido', sans-serif;
      margin: 60px;
      line-height: 30px;
      color: rgb(255, 255, 255);
      div {
        color:rgba(230, 177, 107, 0.911);
      }
    }
  }
    
}

// 滾動按鈕
.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 500;
  font-size: 1.5em;
  border-radius: 50%;
  box-shadow:0 4px 6px rgba(0, 0, 0, .3);
  border: none;
}
// 淡出效果
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-leave-to {
  opacity: 0;
} 

//手機板
@media screen and (max-width: 768px) {
  // 幻燈片
  .carousel-inner{
    .text{
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;
      justify-content: center;
    }
  }
  // 消息背景
  .home-main{
    .main-item{
      .text{
        writing-mode: horizontal-tb;
        margin-top:0;
        text-align:center;
        line-height: 40px;
        p:nth-of-type(1) {
          margin-top: 20px;
        }
        p:nth-of-type(2) {
          margin-top:0px;
        }
      }
      .left{
        flex-direction: row;
        justify-content: space-around;
        .item{
          .nav-link{
            width: 80%;
            font-size:1em;
          }
        }
        img{
          width: 90%;
        }
      }
    }
  }
  // 領取優惠
  .get-coupon{
    font-size: 1.3rem;
  }
}

// 404頁面
.not-found{
  width: 100%;
  height: 100vh;
  background-image: url('https://doqvf81n9htmm.cloudfront.net/data/crop_article/62831/60-f-s.jpg_1140x855.jpg');
  background-position: 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .wrapper{
    position: absolute;
    top:20%;
    left:20%;
    transform: translate(-20%,-20%);
    h1,h2{
    color: white;
    font-size: 8em;
    text-shadow: rgba(0, 0, 0, 0.3) 4px 4px 10px;
    }
    h2{
      font-size: 4em;
    }
    button{
      font-size: 2em;
      color: white;
      background-color: var(--second-color);
      padding:5px 10px;
      transition: .5s;
      &:hover{
        background-color: white;
        color:black;
      }
    }
  }
}
