.navbar {
  transition: .5s ease;
  z-index: 150;
  padding: 0 15px;
}
/* 設置初始背景為透明 */
.bg-transparent {
  background-color:transparent !important;
}
/* 設置滾動後背景為黑 */
.bg-black {
  background-color: rgba(0,0,0,.5)!important;
}
.logo{
  border-radius: 50%;
}

.navbar-nav{
  background-color: transparent;
  .nav-item{
    font-weight: bolder;
    background-color: transparent;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
    margin: 0 10px;
    font-size: 1.25em;
    color: white;
    .nav-link{
      i{
        background-color: rgba(255, 255, 255, 0);
      }
      color: white;
    }
    // 顯示數量
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top:0;
      right: -5px;
      height: 18px;
      width: 18px;
      background-color: red;
      border-radius: 50%;
      text-align: center;
      h5{
        margin: 0;
        font-weight: bolder;
        font-size: .6em;
      }
    }
  }
  // 標題下底線
  .nav-item::after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    border-bottom: 1px solid #ffffff;
    transition: .3s; 
  }
  // 字體向上位移
  .nav-item:hover{
    transform: translateY(-2px);
  }
  // 底線
  .nav-item:hover::after {
    left: 0%;
    right: 0%;
  }
}


// 手機側邊欄
@media screen and (max-width: 992px) {
  .navbar{
    padding: 0;
  }
  .offcanvas{
    background-color:  rgb(98, 97, 97);
  }
  .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 15px;
    .nav-item{
      margin: 0  5px;
      span{
        top:-5px;
        right:-10px;
      }
      &:hover{
        color: white;
      }
      &::after{
        bottom: 0; 
        }
    }
  }
  .navbar-toggler{
    color: rgb(255, 255, 255);
    border: 1px solid white;
  }
}
