.navbar {
  transition: .5s ease;
  z-index: 150;
  padding: 0 15px;
}
/* 設置初始背景為透明 */
.bg-transparent {
  background-color:transparent !important;
}
/* 設置滾動後背景為黑 */
.bg-black {
  background-color: rgba(0,0,0,.5)!important;
}
.logo{
  border-radius: 50%;
}

.navbar-nav{
  background-color: transparent;
  .nav-item{
    font-weight: bolder;
    background-color: transparent;
    position: relative;
    transform: translateY(0px);
    transition: .3s;
    margin: 0 10px;
    .nav-link{
      color: white;
      i{
        // 透明背景
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }
  // 標題下底線
  .nav-item::after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    border-bottom: 1px solid #ffffff;
    transition: .3s; 
  }
  // 字體向上位移
  .nav-item:hover{
    transform: translateY(-2px);
  }
  // 底線
  .nav-item:hover::after {
    left: 0%;
    right: 0%;
  }
  // .d-lg-none{
  //   display: none;
  // }
}


// 手機側邊欄
@media screen and (max-width: 992px) {
  .navbar{
    padding: 0;
  }
  .offcanvas{
    background-color:  rgb(98, 97, 97);
  }
  .navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    .nav-item{
      font-size: 1.25rem;
      margin: 20px 0;
      &:hover{
        color: white;
      }
      &::after{
        bottom: 0; 
        }
    }
    // .d-lg-none{
    //   display: block;
    // }
    // .nav-item::after{
    // border-bottom: 1px solid #ffffff;
    // }
  }
  .navbar-toggler{
    color: rgb(255, 255, 255);
    border: 1px solid white;
  }
}

@media screen and (max-width: 768px) {
  .item{
    .text{
      margin-top:0px;
    }
  }
}
.nav-item {
  font-size: 1.25em;
  color: white;
}