:root{
  --main-color: rgba(159, 159, 159, 0.3);
  --second-color:rgb(63, 63, 63); 
  --product-background-image-1: url('https://i.imgur.com/j36jzzA.jpg');
}
body{
  background-color: var(--main-color);
  // background-image: url('https://i.pinimg.com/736x/7f/a3/42/7fa342abcaa90aabe3bfdbf12778b621.jpg');
  // background-position: 50%;
  // background-size: cover;
}

.bg-product::before {
  background-image:var(--product-background-image-1) ;
}

.banner{  
  //不明原因無法靠最上方，先-15px
  margin-top: -15px;
  width: 100%;
  height: 400px;
  position: relative;
  // background-size: cover;
  // background-position: 50%; 
  // background-repeat: no-repeat; 
  .mask{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%; 
    filter: blur(5px); 
  }
  h2{
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

// 搜尋及篩選欄
#select{
  display: flex;
  align-items: start;
  justify-content: center;
  
  .list-group{
    position: sticky;
    top: 76px;
    width: 100%;
    list-style:none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
    .active{
        background-color: rgb(0, 0, 0,);
        border-color:white
      }
    .list-group-item{
      border-top-width: 1px; // 預設為0會導致上方border消失
      border-radius: 10px;
      transition: .3s;
      &:hover{
        background-color: rgba(0, 0, 0,.5);
        border-color:white;
        color:white;
      }
    }
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
    }
      input, button {
        padding: 5px 10px;
        width: 80px;
        outline: none;
        background-color: white;
        border: 2px solid black;
      }
      button{
        width: 35px;
        border-radius: 0 200px 200px 0;
        background-color: white;
        border-left:none;
        i{
          background-color:transparent;
        }
      }
      input{
        border-right:none;
        border-radius: 200px 0 0 200px;
      }
    
  }
}

// 產品
#product{
  .frame{
    padding:25px;
    display: flex;
    justify-content: center;
    .card{
      box-shadow: 5px 5px 10px #888888;
      width: 100%;
      aspect-ratio: 2/2;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      .card-top{
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        // 產品圖片
        img{
          width: 100%;
          height: 100%;
          transition: opacity 0.5s ease;
          object-fit:contain;
        }
        // 收藏鈕
        .btn-outline-info{
          border: none;
          position:absolute;
          top:0;
          right:0;
          z-index: 10;
          color: red;
          background-color: transparent;
        }
        .more{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
          opacity: 0;
          background-color: rgba(0,0,0,.6);
          transition: opacity 0.5s ease;
          .btn-outline-secondary{
            &:hover{
              color: black;
            }
          }
        }        
        &:hover .more{
          opacity: 1;
        }
        &:hover .btn-outline-secondary{
          border: 1px solid rgb(255, 255, 255);
          background-color: rgb(255, 255, 0);
        }
      }
      .card-body{
        padding: 10px;
        background-color: rgba(228, 228, 228, 0.5);
        .title{
          text-align: center;
          font-size: 1.1em;
        }
        .left{
          width: 70%;
          .category{
            color: white;
            background-color: rgba(78, 78, 78, 0.5);
            font-size: .7em;
            width: 50%;
            text-align: center;
            border-radius: 10px;
            border: 1px solid black;
            margin: 5px 0;
          }
        }
        .left, .right{
          display: flex;
          flex-direction: column;
          justify-content: end;
          .h5{
            font-size: .7em;
            color: rgb(68, 68, 68);
          }
          .h6{
            font-weight:bolder;
            color: rgb(0, 0, 0);
            font-size: .9em;
          }
          .btn{
            margin: 2px;
          }
        }
      }
    }
  }
  .not-found{
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    color: rgb(56, 56, 56);
    margin: 80px 0;
    i{
      font-size: 3em;
    }
    p{
      height: 15px;
    }
  }
}



@media screen and (max-width: 768px){
  .banner{
    height: 240px;
  }
  #select{
    .list-group{
      width: 50%;
    }
  }
}
@media screen and (max-width: 576px){
  #product{
    .row{
      display: flex;
      justify-content: center;
    }
    .frame{
      max-width: 350px;
    }
  }

  
}