.subscription{
  height: 250px;
  background-image: url('https://i.pinimg.com/564x/e2/cb/f7/e2cbf70f8800f1cc38f37d6446685cbd.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .row{
    z-index: 10;
    width: 80%;
    h2,h5{
      margin: 20px 0;
      font-weight: bolder;
    }
    Form{
      height: 40px;
      display: flex;
      .form-field{
        flex: 1;
      }
      .form-control{
        border-radius: 0;
        height: 100%;
      }
      button{
      margin-left: auto;
      background-color: rgb(63, 63, 63);
      color: white;
      border: none;
      text-align: center;
      transition: .7s;
      width: 55px;
        &:hover{
          color: rgb(0, 0, 0);
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
      button[disabled] {
        pointer-events: none;
      }
    }
  }
}