:root{
  --userForm-background-image-1: url('https://i.pinimg.com/564x/26/02/41/2602412367eb7a7dc088f1694f3f97c4.jpg');
}

.bg-user-form::before {
  background-image:var(--userForm-background-image-1) ;
}

.cart-product{
  //購物清單
  .list{
    background-color: var(--main-color);
    padding: 30px;
    position: relative;
    .frame{
      text-align: center; 
      h3{
        font-weight: bolder;
      }
      .clear{
        font-size: .85em;
        background-color: transparent;
        padding:5px 10px;
        transition: .5s;
        &:hover{
          background-color: black;
          color: white;
        }
      }
      .item{
        background-color:rgba(255, 255, 255, 0.5);
        .product-image-container {
          width: 40%;
          aspect-ratio: 1/1; 
          overflow: hidden;
          img{
            width: 100%; 
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .total{
        display: flex;
        flex-direction: column;
        align-items: end;
        h3{
          font-weight: bolder;
          font-size: .9em;
        }     
        h4{
          font-size: .9em;
          font-weight: bolder;
          color: rgb(187, 1, 1);
        }   
        h5{
          font-weight: bolder;
        }
        h6{
          font-weight: bolder;
          color: rgb(96, 96, 96);
          font-size: .9em;
          span{
            color: rgb(187, 1, 1);
          }
        }
        .input-group{
          margin: 20px 0;
          input:focus {
            outline: none;
            border: none;
            box-shadow: none;
          }
          button{
            border: none;
            color: white;
            background-color: var(--second-color);
            padding:5px 10px;
            transition: .5s;
            &:hover{
              background-color:gray;
            }
          }
        }
      }
    }
  }
}

Form{
  .next{
    background-color:rgba(255, 255, 255,.9);
    padding:5px 10px;
    transition: .5s;
    &:hover{
      background-color: var(--second-color);
      color:rgb(255, 255, 255);
      border-color: white;
    }  
  }
  .form-control{
    border-radius:0;
  }
}
