.breadcrumb{
  .breadcrumb-item{
    a{
      color: inherit; /* 使用繼承的文字顏色 */
      text-decoration: none;
    }
  }
}

#product{
  .frame{
    .card{
      .card-top{
        .main-image{
          transition: .5s;
          aspect-ratio: 2/2;
        }
      }
      .images{
        display: flex;
        gap: 10px; 
        width: 100%;
        flex: 0 0 auto; 
        white-space: nowrap;   
        .img-fluid {
          flex: 1; 
          max-width: 100%;
          height:auto;
          aspect-ratio: 1/1;
          object-fit: cover;
          overflow: hidden;
          cursor: pointer;
          background-color: white;
        }
      }
    }
  }
}

.description{
  padding: 25px;
  .title{
    font-weight: bolder;
    font-size: 2em;
    margin: 20px;
  }
  .category{
    width: 30%;
    padding: 5px 0 ;
    color: white;
    background-color: rgba(78, 78, 78, 0.5);
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
  }
  p{
    padding: .5em 0;
  }
  h5{
    color: rgb(68, 68, 68);
    font-size: 1em;
  }
  h6{
    font-weight: bolder;
    font-size: 1.5em;
  }
  .d-flex{
    display: flex;
    flex-direction: column;
    .add-cart{
      display: flex;
      justify-content: flex-end;
      .qty-handler{
        padding: 10px 15px;
        display:flex;
        justify-content: center;
        align-content: center;
        font-size: 1em;
        border: 1px solid rgba(50, 50, 50, 0.5);
        color:black;
        background-color:rgba(255, 255, 255, 0.5);
        transition: .5s;
        border: 1px solid black;
        border-radius: 0;
        font-size: 1em;
        &:first-of-type {
          border-radius: 10px 0 0 10px;
          border-right: none;
        }
        &:nth-of-type(2) {
          border-radius: 0 10px 10px 0;
          border-left: none;
          margin-right: 10px;
        }
        &:hover{
          background-color: rgba(70,70,70,.5);;
        }
      }
      input{
        outline: none;
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 10px 15px;
        font-size: 1em;
        color: rgb(0, 0, 0); 
        text-align: center;
        background-color:rgba(255, 255, 255, 0.5);
      }
    }


  }
}

.notice{
  .accordion-item{
    .accordion-button{
      &:focus{
        box-shadow: none;
        background-color:rgba(171, 171, 171, 0.5);
      }
      // 未被折疊（collapsed）的元素
      &:not(.collapsed) {
        background-color:rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.other-product{
  padding: 30px 0;
  .title{
    text-align: center;
    h2{
    font-weight: bolder;
    }
  }
}